<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Heyper Helios</title>
</head>
<body>
    <div class="form-detials">
        <h3>General Information</h3>
        <form action="">
            <div class="form-item">
                <label for="">Name</label><br>
                <input placeholder="Your name" type="text" name="name">
            </div>
            <div class="form-item">
                <label for="">Phone Number</label><br>
                <input placeholder="Your Phone number" type="text" name="number">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="informatin">
        <h3>User Information</h3>
     <div class="table">
    <div class="table-row">
        <div class="table-col">Name</div>
        <div class="table-col">Phone Number</div>
        <div class="table-col">Action</div>
    </div>
    <div class="table-row">
        <div class="table-col">a</div>
        <div class="table-col">b</div>
        <div class="table-col">c</div>
    </div>
    </div>
        </div>
</body>
</html>