<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Heyper Helios</title>
</head>
<body>
    <div class="form-detials">
        <h3>Save your Information</h3>
        <form action="/create">
            {% csrf_token %}
            <div class="form-item">
                <label for="">Name</label><br>
                <input placeholder="Your name" type="text" name="name" required>
            </div>
            <div class="form-item">
                <label for="">Phone Number</label><br>
                <input type="text" name="number" placeholder="Your phone number" pattern="[0-9+]{14}" title="Use only BD country code">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="informatin">
        <h3>User Information</h3>
     <div class="table">
    <div class="table-row">
        <div class="table-col">Name</div>
        <div class="table-col">Phone Number</div>
        <div class="table-col">Action</div>
    </div>
    {% for data in data %}
    <div class="table-row">
        <div class="table-col">{{data.name}}</div>
        <div class="table-col">{{data.number}}</div>
        <div class="table-col"><a class="delete-button" href="delete/{{data.id}}">Delete</a></div>
    </div>
    {%endfor %}
    </div>
        </div>
</body>
</html>