<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Heyper Helios</title>
</head>
<body>
    <div class="form-detials">
        <form action="">
            <div class="form-item">
                <label for="">Name</label><br>
                <input type="text" name="name">
            </div>
            <div class="form-item">
                <label for="">Phone Number</label><br>
                <input type="text" name="number">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>