body{
    margin: 0;
    padding: 0;
    background-color: #98A4E0;
}
.form-detials{
   background-color: #463ACC;
   width: 30%;
   margin: 40px auto;
   border-radius: 5px;
   padding: 15px;

}
.form-detials h3,.informatin h3{
   color: #ffff;
   font-size: 20px;
   font-weight: bold;
}
.form-detials label{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.form-item{
    margin-bottom: 5px;
}
input{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    border-radius: 4px;
    border:none;
    border-bottom: 1px solid #ffff;
    box-sizing: border-box;
}
input[type=submit]{
    cursor: pointer;
    font-size: 17px;

}
/* table section */
.informatin{
    background-color: #463ACC;
    width: 50%;
    margin: 0 auto; 
   border-radius: 5px;
   padding: 10px;
}


.table {
    display: table;
    width: auto;
    margin: 0 auto;
    border: 1px solid #666666;
    color: white;
  }
  
  .table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
  
  .table-col {
    float: left;
    display: table-column;
    width: 180px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
.table-col .delete-button{
    text-decoration: none;
}
  /* media queries */
  @media screen and (max-width:780px){
    .form-detials{
        width: 50%;
     
     }
}
@media screen and (max-width:500){
    .form-detials{
        width: 70%;
     
     }
}